---
import { useTranslations } from "@/i18n/utils";
const t = useTranslations(Astro.url);
---

<section class="psection relative h-[100vh] w-full bg-black/35">
  <h2 class="text-txligth mb-6 leading-none uppercase md:text-lg lg:mb-4 xl:mb-6">
    {t("servicesSection")}
  </h2>
</section>
