---
import { useTranslations } from "@/i18n/utils";

import { AnimatedTextHover } from "../shared/AnimatedTextHover";
const t = useTranslations(Astro.url);
---

<a
  href="#portfolio"
  class="font-alumni flex w-[288px] items-center justify-center border bg-white/10 py-3 text-xl leading-none font-bold backdrop-blur-[10px] md:h-14 md:text-2xl xl:h-16 xl:text-[28px]"
>
  <AnimatedTextHover client:load text={t("portfolioButton")} />
</a>
