---
import "../styles/global.css";
// Supports weights 400-900
import "@fontsource-variable/ruda";
// Supports weights 100-900
import "@fontsource-variable/alumni-sans";

import Header from "@/components/header/Header.astro";
import { getLangFromUrl } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="font-ruda relative overflow-x-clip pt-[80px] lg:pt-[100px]">
    <Header />
    <slot />
  </body>
</html>
